@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* || RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* || GENERAL STYLES */
body{
    font: 15px "Outfit", sans-serif;
    min-height: 100vh;
    background-color: hsl(212, 45%, 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


article{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    width: fit-content;
}

figure{
   flex-grow: 1;
}

.para:first-child{
    font-weight: 700;
    margin-bottom: 1rem;
}

.para:last-child{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%,350px);
}

section{
    padding: 0.5rem;
    margin-top: 1rem;
}

.card img{
    border-radius: 1rem;
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}